




<button class = "btn btn-primary" (click)="clickButton()">Display paragraph</button>
<p></p>
<!-- <p [ngStyle]="{display: buttonStatus}"> This paragraph is going to be toggled </p> -->
<!--ngIf: good for toggling  -->
<p *ngIf ="status" > This paragraph is going to be toggled </p>


<h4>The counter is at: {{ counter }} </h4>
<h4>counterFunction is at {{counterFunction ()}}</h4>

<ul  *ngFor="let data of buttonClicks; let i = index">  
  <li 
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
  [ngClass]="{fifthElement: i >= 4}"> 
  {{data}} </li> 
</ul>